<ion-modal-view>
  <div class="card">
    <div class="item item-divider">
      {{vm.modalGame.name}}
    </div>
    <div class="item item-text-wrap">
      {{vm.modalGame.prettyDate}}
      {{vm.modalGame.prettyTime}}
    </div>
    <div class="item item-divider">
      <div class="row">
        <div class="col col-33"><button class="button button-positive" ng-click=addEditGame({{game.id}})>edit</button></div>
        <div class="col col-33"><button class="button button-assertive" ng-click="startGame({{game.id}})">start</button></div>
        <div class="col col-33"><button class="button button-balanced" ng-click="closeModal()">close</button></div>
      </div>
    </div>
  </div>
</ion-modal-view>
