<ion-view view-title="Add/Edit Game">
  <ion-content>
    <div class="row">
      <label class="col item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Name" ng-model="vm.game.name">
      </label>
    </div>
    <div class="row">
      <label class="col col-75 item item-input item-floating-label">
        <span class="input-label">Game Date</span>
        <input type="text" placeholder="Game Date" ng-model="vm.prettyDate">
      </label>
      <ionic-datepicker class="col col-25" date="vm.currentDate" min="vm.minDate" callback="vm.datePickerCallback">
        <button class="button button-small button-positive ion-android-calendar"></button>
      </ionic-datepicker>
    </div>
    <div class="row">
      <label class="col col-75 item item-input item-floating-label">
      <span class="input-label">Game Time</span>
        <input type="text" placeholder="Game Time" ng-model="vm.prettyTime">
      </label>
      <ionic-timepicker class="col col-25" input-obj="timePickerObject">
        <button class="button button-small button-positive ion-android-time" >
        </button>
      </ionic-timepicker>
    </div>
    <div class="row">
      <label class="col item item-input item-floating-label">
        <span class="input-label">Line-Up</span>
        <input type="text" placeholder="Line-Up">
      </label>
    </div>
    <div class="row">
      <label class="col item item-input item-floating-label">
        <span class="input-label">Notes</span>
          <input type="text" placeholder="Notes">
      </label>
    </div>
    <div class="row">
      <div class="col col-25 col-center">
        <button class="button button-clear button-balanced" ui-sref="app.gameDuring({ gameId : game.id})">Start</button>
      </div>
      <div class="col col-25 col-center col-offset-50">
        <button class="button button-clear button-assertive pull-right" ng-click="vm.saveGame()">Save</button>
      </div>
    </div>


  </ion-content>
</ion-view>
